@model IEnumerable<do0.Models.FrontPagePosts>

@{
    ViewBag.Title = "Index";
}

<div style="margin-top:100px;" class="mui-container">
    
    @Html.Partial("~/Views/AdmFrontPagePosts/_DataTable1.cshtml", Model)

</div>


